/* layout
------------------------------------------------------------*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include maxW(767px) {
    font-size: 31.25%;
  }
}

body {
  background-color: $white-cl;
  font-family: $main-fonts;
  color: $main-text-cl;
  font-weight: 400;
  font-size: 1.6rem;
  position: relative;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none;
}

//-------------------------------------------------------
main {
  // padding: 0px 0 100px;
}

section {
  // padding: 50px 0 90px;
}

//-------------------------------------------------------
.l-container {
  width: $base-width;
  margin: 0 auto;
  position: relative;
}

.sp-only {
  display: none;
}
@include maxW(767px) {
  .pc-only {
      display: none;
  }

  .sp-only {
      display: block;
  }
}
//-------------------------------------------------------
